.cell {
    width: 32px;
    height: 32px;
    border: 2px solid black;

    margin: 0;
    padding: 0;
}

.row {
    line-height: 1px;
    margin: 0;
    padding: 0;
    display: flex;
}

.cell-0 {
    background: white !important;
}
.cell-1{
    background: purple !important;
}

.cell-2 {
    background: yellow !important;
}
.cell-3 {
    background: green !important;
}
.cell-4{
}
.cell-5{
    background: lightgray !important;
}
.preview-row {
    display:flex;
}